@model List<SALES.Entities.Product>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-4">
            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="card-img" src="@item.Url" alt="hình sản phẩm" style="height: 250px">
                    <ul class="card-product__imgOverlay">
                        <li><a class="btn btn-primary" href="/san-pham/chi-tiet/@item.Id/@item.Keywords"><i class="ti-search"></i></a></li>
                        <li><button><i class="ti-shopping-cart"></i></button></li>
                        <li><button><i class="ti-heart"></i></button></li>
                    </ul>
                </div>
                <div class="card-body">
                    <p>@item.Name</p>
                    <h4 class="card-product__title"><a href="/san-pham/chi-tiet/@item.Id">Chi tiết</a></h4>
                    <p class="card-product__price">@item.PriceOut</p>
                </div>
            </div>
        </div>
    }


</div>

