
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Danh sách sản phẩm</h4>
                    <p class="card-category">Quản trị sản phẩm</p>
                </div>
                <div class="card-body">
                    <div style="padding: 10px"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">Thêm</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tr class=" text-primary">
                                <th>
                                    STT
                                </th>
                                <th>
                                    Tên sản phẩm
                                </th>
                                <th>
                                    Giá bán
                                </th>
                                <th>
                                    Số lượng bán
                                </th>
                                <th>
                                    Giảm giá
                                </th>
                                <th>
                                    Kích hoạt
                                </th>
                                <th></th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Sony vaio
                                    </td>
                                    <td>
                                        100.000 /VNĐ
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        10%
                                    </td>
                                    <td>
                                        true
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-danger  btn-sm pull-right">Delete</button>
                                        <button type="submit" class="btn btn-success btn-sm pull-right">Edit</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        Dell
                                    </td>
                                    <td>
                                        300.000 /VNĐ
                                    </td>
                                    <td>
                                        50
                                    </td>
                                    <td>
                                        1%
                                    </td>
                                    <td>
                                        true
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-danger  btn-sm pull-right">Delete</button>
                                        <button type="submit" class="btn btn-success btn-sm pull-right">Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

