
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Hình sản phẩm</h4>
                <p class="card-category">Quản trị hình sản phẩm</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-sm pull-right" id="btnListImage">Danh sách hình sản phẩm</button>
                        <button type="button" class="btn btn-primary btn-sm pull-right" id="btnAddtImage">Thêm hình sản phẩm</button>
                    </div>
                </div>
                <div style="padding: 20px"></div>
                <div id="listImage"></div>
                <div id="typography"></div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="~/admin/js/app/admin-image.js"></script>