
@{
    ViewData["Title"] = "Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Demo</h2>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link href=".~/admin/css/material-dashboard.css" rel="stylesheet" />

<div class="col-md-4">
    <button class="btn btn-primary btn-block" onclick="notify()">Top Right</button>
</div>

<!--   Core JS Files   -->
<script src="~/admin/js/core/jquery.min.js"></script>
<script src="~/admin/js/core/bootstrap-material-design.min.js"></script>
<script src="~/admin/js/plugins/perfect-scrollbar.jquery.min.js"></script>

<!--  Notifications Plugin    -->
<script src="~/admin/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="~/admin/js/material-dashboard.js" type="text/javascript"></script>

<script>
    function notify() {
        debugger;
        $.notify({
            // options
            icon: 'glyphicon glyphicon-bell',
            title: "khoa",
            message: "aa",
            url: 'https://github.com/mouse0270/bootstrap-notify',
            target: '_blank'
        }, {
                // settings
                element: 'body',
                position: null,
                type: "#dfdfdf",
                allow_dismiss: true,
                newest_on_top: false,
                showProgressbar: false,
                placement: {
                    from: "top",
                    align: "right"
                },
                offset: 20,
                spacing: 10,
                z_index: 1031,
                delay: 1000,
                timer: 1100,
                url_target: '_blank',
                mouse_over: null,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                },
                onShow: null,
                onShown: null,
                onClose: null,
                onClosed: null,
                icon_type: 'class',
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon" style="color: #30494f"></span> ' +
                    '<span data-notify="title" style="font-weight:bold; font-size: 13px; color: #30494f">{1}</span> ' +
                    '<span data-notify="message" style="font-weight:bold; font-size: 13px; color: #30494f">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '</div>'
            });
    }
        function showNotification(from, align) {
            debugger;
            $.notify({
                icon: "add_alert",
                message: "Welcome to <b>Material Dashboard Pro</b> - a beautiful freebie for every web developer."

            }, {
                type: 'success',
                timer: 4000,
                placement: {
                    from: from,
                    align: align
                }
            });
        }
    </script>